<nz-collapse [nzBordered]="false">
  <nz-collapse-panel [nzHeader]="'FILTER' | translate" [nzActive]="false">
    <div class="row mb-8 flex justify-between items-center">
      <form nz-form [nzLayout]="'inline'" [formGroup]="filterForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-input-group>
            <nz-form-label nzFor="username">{{ 'USERNAME' | translate }}</nz-form-label>
            <nz-form-control>
              <input id="username" formControlName="username" nz-input [placeholder]="'USERNAME' | translate" />
            </nz-form-control>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group>
            <nz-form-label nzFor="firstName">{{ 'FIRST_NAME' | translate }}</nz-form-label>
            <nz-form-control>
              <input id="firstName" formControlName="firstName" nz-input [placeholder]="'FIRST_NAME' | translate" />
            </nz-form-control>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group>
            <nz-form-label nzFor="lastName">{{ 'LAST_NAME' | translate }}</nz-form-label>
            <nz-form-control>
              <input id="lastName" formControlName="lastName" nz-input [placeholder]="'LAST_NAME' | translate" />
            </nz-form-control>
          </nz-input-group>
        </nz-form-item>
        <nz-form-item>
          <nz-input-group>
            <nz-form-label nzFor="created_at">{{ 'CREATED_AT' | translate }}</nz-form-label>
            <nz-form-control>
              <nz-date-picker id="created_at" formControlName="created_at"></nz-date-picker>
            </nz-form-control>
          </nz-input-group>
        </nz-form-item>
      </form>
      <app-command [commands]="commands"></app-command>
    </div>
  </nz-collapse-panel>
</nz-collapse>
